body {
    margin: 0;
    padding: 0;
    background: url("image3.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "Segoe UI", sans-serif;
}

.container {
    width: 70%;
    margin: 80px auto;
    display: flex;
    gap: 40px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(7px);
    border-radius: 20px;
    border: 2px solid #7ad7ff;
}

.info-box {
    flex: 2;
}

.info-box h1 {
    margin-bottom: 5px;
    font-size: 2em;
    color: #003d66;
}

.qual {
    font-size: 1.1em;
    color: #006699;
}

.exp {
    font-size: 1em;
    margin-bottom: 15px;
    color: #444;
}

.bio {
    background: rgba(255, 255, 255, 0.35);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #7ad7ff;
    margin-bottom: 25px;
    line-height: 1.6;
}

.btn-row {
    display: flex;
    gap: 15px;
}

.blue-btn {
    padding: 10px 20px;
    background: #0096f2;
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.blue-btn:hover {
    background: #007acc;
}

.gray-btn {
    padding: 10px 20px;
    background: #cccccc;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.photo-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-box img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid #7ad7ff;
}
