<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>newdoctor</title>
    <link rel="stylesheet" href="/static/new_doct.css" />
  </head>
  <body> 
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="{{url_for("admin")}}">Back</a></li>
        <li><a href="{{url_for("login")}}">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="admin_main">
      <div class="admin_block">
        <div id="header">
          <h1>Add new Doctor</h1>
        </div>
        <div id="main">
          <div id="content">
            <form action="/add_doct" method="post">


              <div class="form-field">
                <label for="fullname">Fullname</label>
                <input
                  id="fullname"
                  name="fullname"
                  type="text"
                  placeholder="Enter your fullname"
                  required
                />
              </div>

              <div class="form-field">
                <label for="username">Username</label>
                <input
                  id="username"
                  name="username"
                  type="text"
                  placeholder="Enter username"
                  required
                />
              </div>

              <div class="form-field">
                <label for="password">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="Enter password"
                  required
                />
              </div>


              

              

              <div class="form-field">
                <label for="specialization">Specialization</label>
                <input
                  id="specialization"
                  name="specialization"
                  type="text"
                  placeholder="Enter Specialization of Doctor"
                  required
                />
              </div>

              <div class="form-field">
                <label for="department">Department</label>
                <input
                  id="department"
                  name="department"
                  type="text"
                  placeholder="Enter Department of Doctor"
                  required
                />
              </div>

              <div class="form-field">
                <label for="overview">Overview</label>
                <input
                  id="overview"
                  name="overview"
                  type="text"
                  placeholder="Enter overview of the department"
                  required
                />
              </div>

              <div class="form-field">
                <label for="experience">experience(years)</label>
                <input
                  id="experience"
                  name="experience"
                  type="text"
                  placeholder="experience"
                  required
                />
              </div>

              <div class="actions">
                  <button type="submit">create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
