<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>newdoctor</title>
  <link rel="stylesheet" href="/static/style.css" />

</head>

<body>
  <div class="main_block">
    <div id="main">
      <div class="top-bar">
        <span class="welcome">Welcome Admin</span>
        <div class="search-box">
          <input type="search" placeholder="doctor, patient, department...">
          <button >search</button>
        </div>
      </div>
      <div><button id="create">Create</button></div>
      <div id="wel1">Registered doctors</div>
      <div class="doctor">
        <div> 
          <button id="blacklist">blacklist</button>
          <button id="delete">delete</button>
          <button id="edit">edit</button>
        </div>
      </div>

      <div id="wel1">Registered Patient</div>
      <div class="doctor">
        <div> 
          <button id="blacklist">blacklist</button>
          <button id="delete">delete</button>
          <button id="edit">edit</button>
        </div>
      </div>

      <div id="wel1">Upcoming Appointments</div>
      <table>
        <thead>
          <tr>
            <th>Sr No.</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Department</th>
            <th>Patient history</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>In-person</td>
            <td>ECG</td>
            <td>Abnormal<br>Heartbeats</td>
            <td><button>view</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>