<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="admin_main">
      <div class="admin_block">
        <div class="top-bar">
          <span class="welcome">Welcome Admin</span>
          <div class="search-box">
            <input type="search" placeholder="doctor, patient, department..." />
            <div>
              <button>search</button>
              <a href="{{ url_for("new_doct")}}">
                <button id="create">Create</button>
              </a>
              
            </div>
          </div>
        </div>

        <div id="wel1">Registered doctors</div>
        <div class="doctor">
          <div>
            <button id="blacklist">blacklist</button>
            <button id="delete">delete</button>
            <button id="edit">edit</button>
          </div>
        </div>

        <div id="wel1">Registered Patient</div>
        <div class="doctor">
          <div>
            <button id="blacklist">blacklist</button>
            <button id="delete">delete</button>
            <button id="edit">edit</button>
          </div>
        </div>

        <div id="wel1">Upcoming Appointments</div>
        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Patient Name</th>
              <th>Doctor Name</th>
              <th>Department</th>
              <th>Patient history</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>

            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td>ECG</td>
              <td>Abnormal<br />Heartbeats</td>
              <td><button>view</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
