<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Department</title>
    <link rel="stylesheet" href="/static/doctor.css" />
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="admin_main">
      <div id="admin_block">
        <div class="top-bar">
          <span class="welcome">Department of Heart</span>
          <div class="search-box">
            <button id="create">History</button>
            <button>Logout</button>
          </div>
        </div>
        <div id="wel1">Overview</div>
        <p>
          eiguehru rgehrughe gesug enrgy ergnergner hgehrgfb3urfb eriufgnerfr
          rgfnerfge rhenrfgreuifng gerfgnier ggn ergergin enrgrn fgerg jnergn
          ergirngvregvr rg vreg ernv rnigvrtfb vg jnver nfrgv ergj nergf jnerrfn
          ergb ergrgvergbfv jnergb ggrt jn
        </p>

        <div id="wel1">
          Doctor's List
          <table>
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Check Availability</th>
                <th>View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>dr. regjir</td>
                <td><button id="delete">check availability</button></td>
                <td><button id="delete">view details</button></td>
              </tr>

              <tr>
                <td>dr. regjir</td>
                <td><button id="delete">check availability</button></td>
                <td><button id="delete">view details</button></td>
              </tr>

              <tr>
                <td>dr. regjir</td>
                <td><button id="delete">check availability</button></td>
                <td><button id="delete">view details</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </body>
</html>
