<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>newdoctor</title>
    <link rel="stylesheet" href="/static/doctor.css" />
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-links">
          <li><a href="{{url_for("login")}}">Back</a></li>
          <li><a href="{{url_for("login")}}">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="admin_main">
      <div id="admin_block">
        <div class="top-bar">
          <span class="welcome">Welcome {{ doctor.fullname }}
          </span>
          <div class="search-box">
            <a href="{{ url_for('login') }}">
              <button>Logout</button>
            </a>
          </div>
        </div>

        <div id="wel1">Upcoming Appointments </div>

        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Patient Name</th>
              <th>Patient History</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>

          <tbody>
            {% if upcoming %}
            {% for a in upcoming %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ a.patient }}</td>

              <!-- Update -->
              <td>
                <a href="/doctor/update_history/{{ a.id }}">
                  <button>update</button>
                </a>
              </td>

              <!-- Mark Complete -->  
              <td>
                <a href="/mark_complete/{{ a.id }}">
                  <button id="create">mark as complete</button>
                </a>
              </td>

              <!-- Cancel -->
              <td>
                <a href="/doctor/cancel/{{ a.id }}">
                  <button id="delete">cancel</button>
                </a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5" style="text-align:center;">No upcoming appointments.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>

        <div id="wel1">Assigned Patients</div>

        {% if assigned %}
        {% for p in assigned %}
        <div class="doctor">
          <span>{{ p.fullname }}</span>
          <div>
            <a href="/doctor/patient_history/{{ p.patient_id }}">
              <button>view</button>
            </a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="doctor">
          <span>No assigned patients.</span>
        </div>
        {% endif %}

        <div>
          <div class="search-box">
            <a href="{{ url_for('doctor_availability') }}">
              <button>Provide Availability</button>
            </a>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
