<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>newdoctor</title>
    <link rel="stylesheet" href="/static/doctor.css" />
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="admin_main">
      <div id="admin_block">
        <div class="top-bar">
          <span class="welcome">Welcome Dr. Abcd</span>
          <div class="search-box">
            <button>Logout</button>
          </div>
        </div>

        <div id="wel1">Upcoming Appointments</div>
        <table>
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Patient Name</th>
              <th>Patient history</th>
              <th colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>In-person</td>
              <td><button>update</button></td>
              <td><button id="create">mark as complete</button></td>
              <td><button id="delete">cancel</button></td>
            </tr>
          </tbody>
        </table>
        <div id="wel1">Assigned Patients</div>
        <div class="doctor">
          <div>
            <button>view</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
