<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css" />
    
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  
    <div class="main_block">
      <div id="header">
        <h1>WELCOME</h1>
      </div>
      <div id="main">
        <div id="content">
          <form action="/" method="post">
            <div class="form-field">
              <label for="username">Username</label>
              <input
                id="username"
                name="username"
                type="text"
                placeholder="Enter username"
                required
              />
            </div>
            

            <div class="form-field">
              <label for="password">Password</label>
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Enter password"
                required
              />
            </div>

            <div class="form-field">
              <label for="role">Role: </label>
              <select name="role" required>
                <option value="" disabled selected>Role</option>
                <option value="admin">Admin</option>
                <option value="doctor">Doctor</option>
                <option value="patient">Patient</option>
              </select>
            </div>



            <div class="actions">
              <button type="submit">Login</button>
            </div>

            <div class="new-user">
              Do not have an acoount? <a href="{{ url_for("registration")}}">Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
