<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>newdoctor</title>
  <link rel="stylesheet" href="{{url_for('static', filename='patient_hist.css')}}" />

</head>

<body>
  <nav class="navbar">
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div id="admin_main">
    <div class="admin_block">
      <h2>Patient History</h2>
      <a href="">
        <button class="button" >back</button>
      </a> 
      
      <div class="patient-info">
        <p>Patient Name: Mr. abcde</p>
        <p>Doctors' Name: Dr. pqrst</p>
        <p>Department: Cardiology</p>
      </div>

      <table>
        <thead>
          <tr>
            <th>Visit No.</th>
            <th>Visit Type</th>
            <th>Tests Done</th>
            <th>Diagnosis</th>
            <th>Prescription</th>
            <th>Medicines</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1.</td>
            <td>In-person</td>
            <td>ECG</td>
            <td>Abnormal<br>Heartbeats</td>
            <td>exercise daily</td>
            <td>Medicine 1</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>In-person</td>
            <td>ECG</td>
            <td>Abnormal<br>Heartbeats</td>
            <td>exercise daily</td>
            <td>Medicine 2</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>In-person</td>
            <td>ECG</td>
            <td>normal<br>Heartbeats</td>
            <td>cont. exercise</td>
            <td>Medicine 3</td>
          </tr>
          <tr>
            <td colspan="6">...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>