<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="/static/profile_doctor.css">
</head>

<body>

    <div class="container">

        <div class="profile-card">

            <div class="left">
                <h2>Dr. mnop</h2>

                <p class="degree">MBBS, DM – Medical Oncology</p>
                <p class="role">Medical Oncologist</p>

                <p class="experience">
                    20 Years Experience Overall <br>
                    <span>(11 years as specialist)</span>
                </p>

                <p class="bio">
                    Dr. mnop is a Medical Oncologist in India and has an experience
                    of 20 years in this field.
                </p>
            </div>

            <div class="right">
                <img src="/static/profile_doct.jpg" class="doc-img" alt="Doctor Image">
            </div>

        </div>

        <div class="btn-row">
            <button class="btn check">Check Availability</button>
            <button class="btn back">Go Back</button>
        </div>

    </div>

</body>

</html>
