<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Patient History</title>
    <link rel="stylesheet" href="/static/upd_patient.css" />
  </head>

  <body>
    <div class="box">
      <h2>Update Patient History</h2>

      <p><strong>Patient Name:</strong> {{ data.patient_name }}</p>
      <p><strong>Department:</strong> {{ data.department }}</p>

      <form method="POST" class="form-box">
        <div class="row">
          <div>
            <label>Visit Type</label>
            <input type="text" name="visit_type" required />
          </div>

          <div>
            <label>Test Done</label>
            <input type="text" name="tests_done" />
          </div>
        </div>

        <label>Diagnosis</label>
        <input type="text" name="diagnosis" required />

        <div class="row">
          <div class="med-box">
            <label>Medicines</label>
            <textarea
              name="medicines"
              placeholder="Medicine 1  1-0-1&#10;Medicine 2  0-1-1"
            ></textarea>
          </div>
        </div>

        <label>Prescription</label>
        <input type="text" name="prescription" />

        <button class="save-btn">Save</button>
      </form>
    </div>
  </body>
</html>
